.consent-container {
  padding: 20px;
  background: white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  .consent-container {
    width: 100%;
    background: #ffffff1a;
    border-radius: 0;
  }
}

.button-row p {
  font-size: 12px;
  margin-top: -1px;
}

.consent-container {
  border-radius: unset;
}
